<div class="row">

  <div class="col-xl-12">

    <div class="slider-card">

      <div id="carouselExampleCaption" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
              <img class="d-block img-fluid ccard"  src="https://udamybucket.s3.ap-south-1.amazonaws.com/28605fd7-d64c-4111-a4bb-dbfa052b3672.png">
          </div>



        </div>
        <a class="carousel-control-prev" href="#carouselExampleCaption" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaption" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>


    </div> <!-- end card-->
  </div> <!-- end col -->
</div>
<!-- end row-->
