<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

  <div data-simplebar class="h-100">


    <div class="navbar-brand-box ">
      <a routerLink="/featured"  class="logo">
        <img src="assets/images/logo-dark.png" />
      </a>
    </div>

    <!--- Sidemenu -->
    <div id="sidebar-menu">
      <!-- Left Menu Start -->
      <ul class="metismenu list-unstyled" id="side-menu">
        <li class="menu-title">Menu</li>

        <li>
          <a routerLink="/featured" class="waves-effect"><i class='bx bx-home-smile'></i><span>Home</span></a>
        </li>


        <li><a routerLink="/my-videos" class="waves-effect"><i class="bx bx-user-circle"></i><span>My Videos</span></a>
        </li>
        <li><a routerLink="/my-subscriptions" class="waves-effect"><i
              class="bx bx-user-circle"></i><span>Subscription</span></a></li>
        <li><a routerLink="/trending" class="waves-effect"><i class="bx bx-user-circle"></i><span>Trending</span></a>
        </li>

        <li>
          <a href="javascript: void(0);" class="has-arrow waves-effect"><i
              class="bx bx-cookie"></i><span>History</span></a>
          <ul class="sub-menu" aria-expanded="false">
            <li><a routerLink="/my-liked">Like History</a></li>
            <li><a routerLink="/my-watched">Watched History</a></li>
          </ul>
        </li>

        <li class="menu-title">Comming Soon</li>
        <li><a routerLink="/comming-soon" class="waves-effect"><i class="bx bx-user-circle"></i><span>Team Members</span></a></li>
        <li><a routerLink="/comming-soon" class="waves-effect"><i class="bx bx-user-circle"></i><span>Video Series</span></a>
        </li>
        <li><a routerLink="/comming-soon" class="waves-effect"><i class="bx bx-user-circle"></i><span>Roadmaps</span></a>
        </li>
        <li><a routerLink="/comming-soon" class="waves-effect"><i class="bx bx-user-circle"></i><span>Trending</span></a>
        </li>


      </ul>
    </div>
    <!-- Sidebar -->
  </div>
</div>
<!-- Left Sidebar End -->








<!-- ////////////////////////// -->
<!-- <mat-sidenav [mode]="'side'" opened>
        <mat-nav-list role="list">
          <mat-list-item role="listitem" >
            <mat-icon mat-list-icon>home</mat-icon>
            <p matLine>Home</p>
          </mat-list-item>

          <mat-list-item role="listitem" routerLink="/subscriptions">
            <mat-icon mat-list-icon>subscriptions</mat-icon>
            <p matLine>Subscriptions</p>
          </mat-list-item>

          <mat-list-item role="listitem" routerLink="/history">
            <mat-icon mat-list-icon>history</mat-icon>
            <p matLine>History</p>
          </mat-list-item>

        <mat-list-item role="listitem" routerLink="/liked-videos">
          <mat-icon mat-list-icon>thumb_up</mat-icon>
          <p matLine>Liked Videos</p>
        </mat-list-item>
        </mat-nav-list>
      </mat-sidenav> -->
