<!-- <h1 class="example-card" routerLink="/video-details/{{video.id}}">
  <img mat-card-image [src]="video.thumbnailUrl" alt="Thumbnail">
  <div>
    <div mat-card-avatar class="example-header-image"></div>
    <h1>{{video.title}}</h1>
    <h1>Programming Techie</h1>
    <h1>1M views</h1>
  </div>
</h1>
 -->













  <d class="example-card" routerLink="/video-details/{{video.id}}">
    <img class="card-img-top img-fluid" [src]="video.thumbnailUrl" alt="Card image cap" >
    <div class="card-body">
      <h5 class="video-title">{{video.title}} </h5>
      <h6 class="video-user">{{video.userName}} <i class="bx bxs-check-circle"></i></h6>
      <h6 class="video-views">{{video.viewCount}} views</h6>
    </div>
    </d>






<!-- end row -->


